
block offer

    div#offer.separator20

    section.parallax-image-4
        div.parallax-image-text-one
            div.separator40
            div.video-image-pattern
            div.container.inner20(style='position: relative')
                div.row
                    div.col-md-12
                        h2.portfolio-title.center.white(style='margin-bottom: 0px') Offer
                div.row
                    div.col-md-12
                        div.separator40
                div.row.box-text-media
                    div.col-md-12
                        div.col-sm-12.col-md-6
                            ul.bullet
                                li Defining UML diagrams (Sequence, Activity, Class and Business Diagram)
                                li Creating database schema in MySQL, PostgreSQL, Oracle
                                li Creating technical documentation
                                li Database Layer implementation based on Hibernate, MySQL, JDBC
                                li Backend implementation in languages: Java, NodeJS, Grails
                                li Implementation web API based on RESTful or SOAP approach
                                li Creating API GUI documentation based on Swagger Framework
                                li 3th parties integration between system based on REST or SOAP
                        div.col-sm-12.col-md-6
                            ul.bullet
                                li Frontent implementation in MVC approach (Templates, JavaScript, HTML5)
                                li Integration and autorization by socialmedia (facebook, twitter, linkedin)
                                li Mobile development (Web responsive design, Android development)
                                li TDD and BDD based on JUnit and other Frameworks
                                li REST API Automation Test based on RestAssured Framework
                                li Frontent Automation Tests based on Selenium
                                li Implementation TestNG Scripts configured by XML settings
                                li Implementation of Performance Tests based on JMeter

                div.row
                    div.col-md-12
                        div.separator60
                div.row.box-text-media
                    div.col-md-12
                        div.col-sm-6.col-md-3
                            ul.bullet
                                li Scrum Master
                                li Project Agile Management
                                li Product Management
                        div.col-sm-6.col-md-3
                            ul.bullet
                                li Agile Planning and Analyzing
                                li Create Agile Vision
                                li Design Agile Roadmap
                        div.col-sm-6.col-md-3
                            ul.bullet
                                li Define Product Backlog
                                li Create MoSCoW priorities
                                li Define stories in criteria INVEST
                        div.col-sm-6.col-md-3
                            ul.bullet
                                li Team Building & Motivation
                                li Risk Management
                                li JIRA configurtion and management
            div.separator40